{% extends 'home.html' %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chips.css')}}">
{% endblock %}

{% block main %}
<main>
    <div class="type-container">
        <h1>選擇儲值方式</h1>
        <div class="type-wrapper">
            <div class="box">
                <form action="/depositWith/creditCard", method="post">
                    <button class="button-6" role="button">信用卡儲值</button>
                </form>
            </div>
            <div class="box">
                <form action="/depositWith/LinePay", method="post">
                    <button class="button-6" role="button">Line Pay 儲值</button>
                </form>
            </div>
            <div class="box">
                <form action="/depositWith/LinePay", method="post">
                    <button class="button-6" role="button">Google Pay 儲值</button>
                </form>
            </div>
            <div class="box">
                <form action="/depositWith/LinePay", method="post">
                    <button class="button-6" role="button">Apple Pay 儲值</button>
                </form>
            </div>
            <div class="box">
                <form action="/depositWith/LinePay", method="post">
                    <button class="button-6" role="button">Samsung Pay 儲值</button>
                </form>
            </div>

        </div>
    </div>
    <div class="operation-container">
        {% if type == "creditCard" %}
            <form action="/addChips" method="post">
                <div class="credit-content">
                    <div class="pay-details">
                        <label for="">信用卡卡號:</label>
                        <input type="text" name="credit-number1" id="credit-number1" placeholder="----">-
                        <input type="text" name="credit-number2" id="credit-number2" placeholder="----">-
                        <input type="text" name="credit-number3" id="credit-number3" placeholder="----">-
                        <input type="text" name="credit-number4" id="credit-number4" placeholder="----">
                    </div>
                    <div class="pay-details">
                        <label for="">有效期限:</label>
                        <input type="text" name="credit-dated" id="credit-dated" placeholder="MM/YY"></input>
                    </div>
                    <div class="pay-details">
                        <label for="">CVC/CVV 代碼:</label>
                        <input type="text" name="credit-secret" id="credit-secret" placeholder="背面末三碼">
                    </div>
                </div>
                <div class="bottom">
                    <div class="pay-details">
                        <label for="">兌換籌碼:</label>
                        <input type="text" name="deposit-money" id="deposit-money" placeholder="籌碼數量">
                        <div id="exchange-info"></div>
                    </div>
                    <button type="submit" id="addChips" class="button-64" role="button"><span class="text">確認儲值</span></button>
                </div>
            </form>
        {% elif type == "LinePay" %}
            <div>This is Line Pay</div>
        {% else %}
            <h2>請從上面選擇一種儲值方式</h2>
        {% endif %}
    </div>
</main>
{% endblock %}
{% block js %}
{{ super() }}
<script>
const button = document.getElementById("addChips")
const chipsInput = document.getElementById("deposit-money")
const exchangeInfo = document.getElementById("exchange-info")
chipsInput.addEventListener("input", () => {
    const chipsAmount = parseInt(chipsInput.value);
    button.disabled = false
    button.classList.remove("disabled");
    if (!isNaN(chipsAmount) && chipsAmount >= 0) {
        exchangeInfo.textContent = `需要 ${chipsAmount * 10} 額度`;
    } else if(chipsAmount < 0){
        exchangeInfo.textContent = `請填入有效數值`;
        button.disabled = true;
        button.classList.add("disabled");
    } else {
        exchangeInfo.textContent = '';
    }
});
</script>
{% endblock %}